footer {
    background-color: #EAF6F9;
    color: #163F5B;
    line-height: 1.5;
}

.ft-legal {
    padding: 0.7rem;
    background-color: #eaf6f9;
    text-align: center;
}

.ft-title {
    color: #163F5B;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

footer a {
    text-decoration: none;
    font-size: 14px;
    color: #163F5B;
    letter-spacing: 1px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.inputan {
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    padding: 5px 20px;
    line-height: 28px;
    width: 100%;
}

.btnx {
    padding: 10px 10px !important;
    min-width: 100px;
    border-radius: 5px;
    width: 100%;
}

input[type="submit"] {
    background-color: #ff6a0e;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}